ul{
    list-style-type: none;
    width: 90%;
  }
  
  ul li{
    display: inline;
    margin-left: 10px;
  }
  
  ul li a{
    text-decoration: none;
    color: #aaa;
  }
  
  nav{
    display: flex;
    border-bottom: 1px solid black;
  }  